* {
	/*font-family: 'Oswald', sans-serif;*/
	/*font-family: 'Indie Flower', cursive;*/
	font-family: 'Play', sans-serif;
	/*font-family: 'Poiret One', cursive;*/
}

.container {
	padding: 5%;
	margin: 5%;
	margin-top: 0%;
}

.links a {
	font-size: 200%;
	padding-right: 10%;
	color: #e74c3c;
}

/*table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 8px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}*/
table tr:first-child {
	font-weight: bold;
}

.calendar {
	/*border*/: 1px solid red;
}
.calendar table {
	margin: auto;
}

.calendar-controls {
	text-align: center;
}

/**
* Clock Styling
*/

.clock {
	/*border*/: 1px solid red;
	font-size: 300%;
	font-family: 'Poiret One', cursive;
}

#time {
	font-size: 300%;
	text-align: center;
	font-family: 'Poiret One', cursive;
	/*border: 1px solid green;*/
}


/**
* Weather styling
*/

.weather {
    /*border*/: 1px solid red;
    font-size: 300%;
    font-family: 'Slabo 27px', serif;
}

#temp {
	font-size: 300%;
	font-family: 'Slabo 27px', serif;
	text-align: center;
}

/**
* Welcome Styling
*/
.welcome {
	font-size: 900%;
	font-family: 'Poiret One', cursive;
}

#x {
	/*this is link to welcome screen*/
	visibility: hidden;
	float: right;
	text-decoration: none;
}
